/target
**/target
.DS_Store
*.log
.env
.idea
.vscode
node_modules
.cache
.tools
infra/aws/terraform/.terraform
infra/aws/terraform/.terraform.lock.hcl
infra/aws/terraform/*.tfstate
infra/aws/terraform/*.tfstate.*
